<a href="https://colab.research.google.com/github/Shahidkp64/learnpi/blob/main/TASK_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to find those numbers which are divisible by 7 and multiple of 11, between 1000 and 2000 (both included).

In [2]:
#please enter your answer below this line
nl=[]
for x in range(1000, 2000):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1015,1050,1085,1120,1155,1190,1225,1260,1295,1330,1365,1400,1435,1470,1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995

2. Write a program to print this pattern

           #
          ## 
         ###

In [14]:
def pypart2(n):
     
    
    k = 2*n - 2
    for i in range(0, n):

        for j in range(0, k):
            print(end=" ")
     
        k = k - 2
     
        for j in range(0, i+1):

            print("# ", end="" )
     
        # ending line after each row
        print("\r")
 
# Driver Code
n = 3
pypart2(n)

    #
  # #
# # #

3. list=[apple, orange, apple, banana]
. Replace all the apple in the list with grapes using for loop

In [26]:
Fruits = ['Apple', 'Orange', 'apple', 'Banana']

# Adding items using Python append
Fruits.append('')
print(Fruits)

['Apple', 'Orange', 'apple', 'Banana', '']