<a href="https://colab.research.google.com/github/Shahidkp64/learnpi/blob/main/TASK_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Given a list l=[23, 45, 25 ,78, 90, 45, 22, 56, 99, 12, 9, 75, 32]

Write a single line program to display.

a) elements at even index in the list.

b) remove the 3 middle elements (45, 22 and 56)

In [5]:
nums=[23, 45, 25 ,78, 90, 45, 22, 56, 99, 12, 9, 75, 32]
nums.remove(45)
nums.remove(45)
nums.remove(22)
nums.remove(56)
nums

[23, 25, 78, 90, 99, 12, 9, 75, 32]

2.Given a list lowerCase=['a', 'e', 'i', 'o', 'u']
Create a new list upperCase using list comprehension and copy the content of the lowerCase list, but in uppercase (capital letters). (upperCase should be ['A', 'E', 'I', 'O', 'U'])

In [20]:
def toggle(phrase):
    for letter in phrase:
        if letter not in "aeiou":
            letter = letter.upper()
        elif letter in "AEIOU":
            letter = letter.lower()
        else:
            letter = letter.upper()
    return phrase


print(toggle(input("Enter a phrase: ")))

Enter a phrase: ai
ai

3.Given a tuple fruits = ("banana", "cherry", "apple", "grapes")
Create 3 variables yellow, red and green and assign them with fruits of their respective color.
(yellow="banana", red=["cherry", "apple"], green="grapes (hint- Use unpacking)

In [21]:
#please write the code below this line
var1= ("banana", "cherry", "apple", "grapes")
var2=("yellow=","red=","green=")
var3=var1+var2
print(var3)

('banana', 'cherry', 'apple', 'grapes', 'yellow=', 'red=', 'green=')